*.class

/node_modules

# SSH Keys 

*.pem
*.ppk

# Package Files #
*.jar
*.war
*.ear

# Gradle temporary files
target/

# Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project

# IntelliJ files
**/*.iml
**/.idea
**/.gradle
